<html>
    <head>
        <title>Emma's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django project blog</a></h1>
        </div>
        <div>
            <p>published: 31.03.2024, 21:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Today we went to Kaohsiung!</p>
        </div>

        <div>
            <p>published: 31.03.2024, 21:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Today was so amazing!</p>
        </div>
    </body>
</html>